<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="icofont-phone"></i>
      +91-0000000000
      <span class="d-none d-lg-inline-block">
        <i class="icofont-clock-time icofont-rotate-180"></i>
        24/7 - Services
      </span>
    </div>
  </div>
</div>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="/" class="logo mr-auto">
      <img src="https://i.imgur.com/6JAnRcf.png" alt="Logo" class="img-fluid" />
    </a>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active">
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="#about">
            About
          </a>
        </li>
        <li>
          <a href="#menu">
            Packages
          </a>
        </li>
        <li>
          <a href="#gallery">
            Gallery
          </a>
        </li>
        <li>
          <a href="#chefs">
            Team
          </a>
        </li>
        <li>
          <a href="#contact">
            Contact
          </a>
        </li>
        </li>
        <li class="book-a-table text-center">
          <a href="/register">
            Login
          </a>
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
