<div class="signinform">
  <h1>
    Create a new admin
  </h1>
  <!-- container -->
  <div class="container">
    <!-- main content -->
    <div class="w3l-form-info">
      <div class="w3l_form">
        <div class="left_grid_info">
          <img src="/images/sideimage.svg" alt="" />
        </div>
      </div>
      <div class="w3_info">
        <h2>
          New account
        </h2>
        <form action="/admin/signup" method="post">
          <div class="input-group">
            <span>
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <input
              type="text"
              placeholder="Fullname"
              name="fullname"
              required=""
            />
          </div>
          <div class="input-group">
            <span>
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <input
              type="email"
              placeholder="Email or Username"
              name="email"
              required=""
            />
          </div>
          <div class="input-group">
            <span>
              <i class="fas fa-key" aria-hidden="true"></i>
            </span>
            <input
              type="Password"
              placeholder="Password"
              name="password"
              required=""
            />
          </div>
          <div class="form-row bottom">
            <div class="form-check">
              <input
                type="checkbox"
                id="remenber"
                name="remenber"
                value="remenber"
              />
              <label for="remenber">
                I agree terms & conditons
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">
            Create
          </button>
        </form>
        <p class="account">
          Already have an account?
          <a href="/admin/register">
            Sign In
          </a>
        </p>
      </div>
    </div>
    <!-- //main content -->
  </div>
  <!-- //container -->
  <!-- footer -->
  <div class="footer">
    <p>
      © 2021 Bluetours. All Rights Reserved | Design by
      <a href="https://jishnusatheesh.tk" target="blank">
        Jishnu
      </a>
    </p>
  </div>
  <!-- footer -->
</div>