<div class="signinform">
  <h1>
    Welcome to Bluetours
  </h1>
  <!-- container -->
  <div class="container">
    <!-- main content -->
    <div class="w3l-form-info">
      <div class="w3l_form">
        <div class="left_grid_info">
          <img src="/images/sideimage.svg" alt="" />
        </div>
      </div>
      <div class="w3_info">
        <h2>
          Sign In
        </h2>
        <form action="/signin" method="post">
          <div class="input-group">
            <span>
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <input
              type="email"
              placeholder="Email or Username"
              required="true"
              name="email"
            />
          </div>
          <div class="input-group">
            <span>
              <i class="fas fa-key" aria-hidden="true"></i>
            </span>
            <input
              type="password"
              placeholder="Password"
              required="true"
              name="password"
            />
          </div>
          <div class="form-row bottom">
            <div class="form-check">
              <input
                type="checkbox"
                id="remenber"
                name="remenber"
                value="remenber"
              />
              <label for="remenber">
                Remember me?
              </label>
            </div>
            <a href="#" class="forgot">
              Forgot password?
            </a>
          </div>
          <button class="btn btn-primary btn-block" type="submit">
            Sign In
          </button>
        </form>
        <p class="continue">
          <span>
            or Sign in with
          </span>
        </p>
        <div class="social-login">
          <a href="#facebook">
            <div class="facebook">
              <span class="fab fa-facebook" aria-hidden="true"></span>
              Facebook
            </div>
          </a>
          <a href="/google">
            <div class="google">
              <span class="fab fa-google-plus-g" aria-hidden="true"></span>
              Google
            </div>
          </a>
        </div>
        <p class="account">
          Don't have an account?
          <a href="/signup">
            Sign up
          </a>
        </p>
      </div>
    </div>
    <!-- //main content -->
  </div>
  <!-- //container -->
  <!-- footer -->
  <div class="footer">
    <p>
      © 2021 Bluetours. All Rights Reserved | Design by
      <a href="https://jishnusatheesh.tk" target="blank">
        Jishnu
      </a>
    </p>
  </div>
  <!-- footer -->
</div>